@charset "utf-8";

/*mixin*/

@import "_mixin";

@mixin entry-frame{
    max-width: 100%;
    height: auto;
    border: 8px solid #333;
}

/*navigation*/
.navbar-nav li a {
    color: #333;
}

.navbar-nav li:hover ul{
    @include mq(large){
        display: block;
        visibility: visible;
        z-index: 1000;
    }
}
.navbar-nav li ul{
    @include mq(xsmall){
        display: none;
        visibility: hidden;
        z-index: 1000;
    }
}
.dark-menu .nav-bar-navi02-li:nth-child(8){
    @include mq(xsmall){
        margin-left: 0;
        padding-left: 0;
    }
}

.navbar-collapse.collapse.show{
    @include mq(xsmall){
        position: absolute;
        top: 73px;
        background-color:aliceblue;
        z-index: 1500;
    }
    @include mq(medium){
        position: relative;
        top: initial;
        background-color:#fff;
        z-index: initial;
    }
}

.navbar-light .navbar-toggler{
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    width: 50px;
}

/*navigation fixed*/
.navbar-fap.fixed{
    position: fixed;
    background: #ffffff;
    z-index: 1000;
    top: 0;
}

/*common layout*/
/*body {
font-size: 100%;
} */
p.example1 { font-size: large; }

p.example2 {
background-color: #000080;
}

/*background set*/
.trsp_black {
    background: rgba(0,0,0,.5);
    background-blend-mode: color;
}
.trsp_blue {
    background: rgba(0,0,100,.5);
    background-blend-mode: color;
}

.mission_bg {
    background:
    linear-gradient(to right,rgba(0,0,0,.9) 30%, rgba(255,255,0,.5) 90%),
    url(../images/bg_mission_2019a.jpg)center no-repeat;
    background-size: cover;
    background-blend-mode: color;
}

.news_bg {
    background:
    linear-gradient(rgba(255,255,255,.1) 0%, rgba(255,255,255,1) 90%),
    url(../images/bg_solarpanel.jpg)center bottom no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.com_bg {
    @include mq(xsmall){
    background:
        linear-gradient(to bottom, rgba(0,0,0,.5) 60%, rgba(0,255,255,0.25) 90%),
        url(../images/bg_aircraft.jpg) right bottom no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    }
    @include mq(medium){
    background:
        linear-gradient(rgba(000,255,255,.1) 0%, rgba(000,255,255,.5) 90%),
        linear-gradient(to right, rgba(0,0,0,.8) 60%, rgba(000,255,255,.25) 90%),
        url(../images/bg_aircraft.jpg)center bottom no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    }

}

/*btn set*/
/*gradient*/
@mixin boost {
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*cv*/
.btn-fa-cv {
    @include boost;
    border: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    a{
        color: #fff;
    }
}
.btn-fa-cv:hover {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    background: transparent;
    a{
        color: blue;
        text-decoration: none;
    }
}
.btn-fa-cv:hover:after {
    transition: all 0.3s ease;
    width: 100%;
    left: 0;
}
.btn-fa-cv:after {
    position: absolute;
    transition: all 0.3s ease;
    content: '';
    width: 0;
    bottom: 0;
    left: inherit;
    right: 0;
    height: 3px;
    @include boost;
}
/*brast*/
.btn-fa-brast {
    position: relative;
    display: inline-block;
    width: 10em;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: transparent;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #fff;
    transition: .4s;
    &:hover{
        padding-left: 0.7em;
        padding-right: 0.3em;
    }
}

/*contents*/
.fap-enterprise{
    .cont_three_column_li-txtbox {
        @include mq(xsmall){
            position: absolute;
            background-color: rgba(0,0,0,0.4);
            height: 240px;
        }
        @include mq(medium){
            position: relative;
            background-color: #333;
            height: 340px;
        }
        @include mq(xlarge){
            position: absolute;
            height: 240px;
            background-color: rgba(0,0,0,0.4);
        }
        left:0px;
        bottom:0px;
        color:#fff;
        width:100%;
        padding-left:20px;
        min-height:140px;
    }
}

.page-home-content{
    .entry-content img {
        @include entry-frame;
    }
}

.home .entry-content h2, .entry-content h4{
    padding: initial;
}

.history-company{
    padding: 0 15px;
}

.home_news_tit_link {
    @include mq(medium){
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 18px;
    }
}

/*footer*/
.main_footer_ul {
    @include mq(xsmall){
        display: block;
    }
    @include mq(medium){
        display: flex;
        justify-content: center;
    }
}
.main_footer_li {
    @include mq(xsmall){
        display: inline-block;
        float: left;
        width: 50%;
        padding: 5% 0;
        border-bottom: 1px dotted #efefef;
    }
    @include mq(medium){
        float: none;
        width: auto;
        padding: 2em .5em;
        border-bottom: none;
    }
    @include mq(large){
        padding: 2em 2em;
    }
}


/* aura effect*/
@keyframes aura{
    0%{transform:scale(.95); opacity:1}
    90%{opacity:.8}to{transform:scale(1.1,1.1); opacity:.8}
    }
.aura {
    position: relative;
    transition: 7s;
    @include mq(medium){
        width: 30px;
    }
    }
.aura:before {
    content: "";
    position: absolute;
    z-index: -10;
    width: 2em;
    height: 2em;
    top: -10px;
    left: 0;
    border-radius: 32px;
    background: #fff;
    border: 1px solid #ff999e;
    color: #ff999e;
    transform: translate3d(0,0,0);
}
.aura:before {
    opacity: .5;
    @include mq(medium){
        opacity: 1;
        animation: aura 7s ease-in-out infinite;
    }
}
.aura.aura2:before {
    border: 1px solid #1b8bcc;
    color: #1b8bcc;
    opacity: .5;
    @include mq(medium){
        opacity: 1;
        animation: aura 7s ease-in-out infinite;
    }
}

/*particle*/
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #ffffff; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
